:root{
    --black-text: #303030;
    --white-text: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-black: #1B1F23;
    color: var(--white-text);
    background-color: var(--bg-black);
    font-family: 'Rubik', sans-serif, system-ui;
}
h1{
    font-weight: 700;
}
h2{
    font-weight: 400;
    margin: 0;
    font-size: 1.50rem;
}
#logo{
    height: auto;
    width: 3.7rem;
    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 0.5px solid var(--black-line);
}
/* nav > .right-nav-side > ul{
    flex-grow: 2;
} */
/* .left-nav-side{

} */
.minimal-anchors{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    color: var(--white-text);
}
nav > div > ul, ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.canvas-wide-img{
    width: 100%;
/*  width:100vw; chrome doesn't like this ,but firefox does like it,
    thank god there is a solution that doesn't take an hour to find  */
    height: 90vh;
    object-fit: cover;
}
.welcome-title-container{
    position: relative;
    width: 100%;
    height: 90vh;
}
.centered-text-over-img{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.50rem;
    text-align: center;    
}


