:root {
  --white-text: #ffffff;
  --bg-black: #1b1f23;
  --black-line: #2b2f33;
  --card-bg: #23282b;
  --green: #82b95a;
  color: var(--white-text);
  background-color: var(--bg-black);
  font-family: "Rubik", sans-serif, system-ui;
}

/* custom scroll bar css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black-line);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgb(100, 100, 100);
}

/* page title animation */
.slide-top {
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* page title text */
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
}

.canvas-wide-img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.welcome-title-container {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-top: 70px;
}

.centered-text-over-img {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  gap: 20px;
}

.centered-text-over-img>h1 {
  font-size: 4rem;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}

/* button styling */
.greenButton>a {
  color: var(--bg-black);
}

.greenButton {
  background-color: var(--green) !important;
  border-radius: 5px !important;
  padding: 5px 10px 5px 10px !important;
  box-sizing: border-box !important;
  color: var(--bg-black) !important;
  border-style: none;
}

button:hover,
.right-nav-side>ul :nth-child(3):hover {
  box-shadow: 0px 0px 15px 0px #ffffff5e;
}

.CTA {
  cursor: pointer;
  font-weight: 550 !important;
}

/* navigation bar css */
.logo {
  height: auto;
  width: 3.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  border-bottom: 0.5px solid var(--black-line);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--bg-black);
  box-sizing: border-box;
  overflow: visible;
}

nav>div>ul,
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.minimal-anchors {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  color: var(--white-text);
}

/* mobile view css , please try to use Game development birds on the desktop as much as possible 👀 */
@media only screen and (max-width: 600px) {
  nav {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  /* .left-nav-side>ul>li:nth-child(2) {
    display: none;
    visibility: hidden;
  } */
  .right-nav-side {
    display: none;
    visibility: hidden;
  }

  .centered-text-over-img>h1 {
    font-size: 3rem !important;
  }

  .centered-text-over-img-blog>h1 {
    font-size: 2.5rem !important;
  }

  .hide {
    display: none;
    visibility: hidden;
  }

  .narrowTextBox {
    width: 100% !important;
  }

  .flexDiv {
    justify-content: center !important;
  }

  nav {
    font-size: medium !important;
  }

  .teamMembers>img {
    width: 100px !important;
  }


  .blogThumbnail {
    height: 100px !important;
    width: 120px !important;
  }

  nav>div>ul,
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }

  .burger-menu-icon {
    display: block !important;
  }
}

/* blog page css */
.main-blog {
  margin-top: 70px;
}

.welcome-title-container-blog {
  position: relative;
}

.centered-text-over-img-blog {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 900px) {
  .blogPostCard {
    gap: 3rem !important;
  }
}

.blogPostCard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
}

.blogPostBackground {
  grid-column-start: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogTitle {
  grid-column: 2/3;
}

.blog-posts {
  display: flex;
  gap: 10px;
}

.blogThumbnail {
  height: 100px;
  width: 175px;
  border-radius: 7px;
  position: absolute;
}

.fit-logo {
  position: relative;
  height: auto;
  width: 50px;
  z-index: 1;
}

/* landing page css */
.solutions {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.showcase-card {
  border: 2px solid var(--black-line);
  border-radius: 13px;
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg);
  padding: 1rem;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0px 0px 6.7px rgba(0, 0, 0, 0.081),
    0px 0px 22.3px rgba(0, 0, 0, 0.119), 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.showcase-card>img {
  height: 5rem;
  width: auto;
}

.showcase-card>h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* FAQ section vitals css selectors*/
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: max(3rem, 15%);
  margin-right: max(3rem, 15%);
  line-height: 2rem;
}

.accordion {
  border-radius: 13px;
  border: 2px solid var(--black-line);
  background-color: var(--card-bg);
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 6.7px rgba(0, 0, 0, 0.081),
    0px 0px 22.3px rgba(0, 0, 0, 0.119), 0px 0px 100px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  cursor: pointer;
}

.center {
  text-align: center;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
}

.narrowTextBox {
  width: 50%;
  text-align: start;
  text-wrap: wrap;
}

/* attribution vitals */
.center-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.teamMembers>img {
  border-radius: 50%;
  height: auto;
  width: 150px;
}

.teamMembers>h1 {
  margin-bottom: 0;
}

.teamMembers {
  min-width: 190px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--black-line);
  border-radius: 13px;
  background-color: var(--card-bg);
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* footer */
.legalStuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.legalStuff>p {
  margin: 0;
  font-weight: 500;
  line-height: 1.6;
}

.legalStuff>div>a>img {
  height: 40px;
  width: auto;
}

.legalStuff>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer {
  margin: 1rem;
  text-align: center;
}

.burger-menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.burger-menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
  margin-bottom: 5px;
  transition: all 0.3s;
  border-radius: 15px;
}

/* Style the menu */
.burger-menu {
  display: none;
  position: absolute;
  top: 72px;
  left: 0;
  background-color: var(--bg-black);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.burger-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.burger-menu li {
  margin-bottom: 10px;
}

.burger-menu a {
  text-decoration: none;
  color: var(--white-text);
}

/* Show the menu on click */
.burger-menu-icon.active span:nth-child(1) {
  transform: rotate(50deg) translate(6px, 5px);
}

.burger-menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu-icon.active span:nth-child(3) {
  transform: rotate(-50deg) translate(6px, -5px);

}

.burger-menu.show {
  display: block;
}