:root{
    --black-text: #303030;
    --white-text: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-black: #1B1F23;
    --black-line: #2B2F33;
    color: var(--white-text);
    background-color: var(--bg-black);
    font-family: 'Rubik', sans-serif, system-ui;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
   background: var(--black-line);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);

}
#blog{
    background-color: #82B95A;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: var(--bg-black);
} 
.logo{
    height: auto;
    width: 3.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 0.5px solid var(--black-line);
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--bg-black);
}
@media only screen and (max-width: 600px) {
    nav {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    .left-nav-side > ul > li > a {
        display: none;
        visibility: hidden;
    }
    .right-nav-side> ul{
        gap: 10px;
        justify-content: start;
    }
}
/* nav > .right-nav-side > ul{
    flex-grow: 2;
} */
/* .left-nav-side{

} */
.minimal-anchors{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    color: var(--white-text);
}
nav > div > ul, ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
/* footer */
.legalStuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.legalStuff > p {
    margin: 0;
    font-weight: 500;
}
.legalStuff > div > a > img {
    height:50px;
    width: auto;
}
.legalStuff > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer{
    margin: 1rem;
}