:root{
    --black-text: #303030;
    --white-text: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-black: #1B1F23;
    --black-line: #2B2F33;
    color: var(--white-text);
    background-color: var(--bg-black);
    font-family: 'Rubik', sans-serif, system-ui;
}
p{
    font-size: 1.1rem !important;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: max(3rem , 15%);;
    margin-right: max(3rem , 15%);;
    line-height: 2rem;
}
h1{
    font-weight: 700;
}
iframe{
    border-radius: 13px;   
}
article > img{
    border-radius: 13px;
    margin-bottom: 13px;
}
.title{
    font-weight: 800;
    font-size: 4rem !important;
    margin-bottom: 0.90rem !important;
    margin-top: 0.90rem !important; 
    /* hmm normalize.css is pressing my buttons */
}
.sub-title{
    font-weight: 400;
    font-size: 1.50rem;
    margin-top: 0.75rem !important;
}
#logo{
    height: auto;
    width: 3.7rem;
    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 0.5px solid var(--black-line);
}
/* nav > .right-nav-side > ul{
    flex-grow: 2;
} */
/* .left-nav-side{

} */
.minimal-anchors{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    color: var(--white-text);
}
nav > div > ul , footer > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
/* Blog selectors */
.blog-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog-bg{
    border-radius: 20px;
    width: 90%;
    min-height: 30%;
    max-height: 25rem;
}
video{
    border-radius: 10px;
}
/* footer */
.legalStuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.legalStuff > p {
    margin: 0;
    font-weight: 500;
}
.legalStuff > div > a > img {
    height:40px;
    width: auto;
    border-radius: 5px;
}
.legalStuff > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer{
    margin: 1rem;
}
.green , a{
    color: #82B95A;
}
.alert{
    display: block;
    border: 2px solid #c2b500;
    border-radius: 13px;
    background-color: #23211b;
    color: #c2b500;
    padding: 1rem;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid var(--black-line);
    border-radius: 13px;
    background-color: #23282b;
    width: 15rem;
    text-align: center;
}

.cardLogo{
    grid-column: 1/2;
    grid-row: 1/4;
    height: 75px;
    width: auto;
    padding: 0.5rem;
}
.cardTitle{
    grid-column: 0/1;
    grid-row: 2/3;
}
.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-size: 1.5rem !important;
    font-style: normal;
  }
  
  