:root{
    --black-text: #303030;
    --white-text: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-black: #1B1F23;
    --black-line: #2B2F33;
    color: var(--white-text);
    background-color: var(--bg-black);
    font-family: 'Rubik', sans-serif, system-ui;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem !important;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
    line-height: 2rem;
}
h1{
    font-weight: 700;
}
img{
    border-radius: 13px;
}
.title{
    font-weight: 700;
    font-size: 4rem !important;
    margin-bottom: 0.90rem !important;
    margin-top: 0.90rem !important; 
    /* hmmm normalize.css is pressing my buttons */
}
.sub-title{
    font-weight: 300;
    font-size: 1.50rem;
    margin-top: 0.75rem !important;
}
#logo{
    height: auto;
    width: 60px;
    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 0.5px solid var(--black-line);
}
nav > .right-nav-side > ul{
    flex-grow: 2;
}
/* .left-nav-side{

} */
.minimal-anchors{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    color: var(--white-text);
}
nav > div > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
/* Blog selectors */
.blog-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-bg{
    border-radius: 20px;
    width: 70rem;
    height: 25rem;
    margin: 0;
}


